{% extends "todo/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'css/complete_header.css'%}">

<div class="modal-header text-center">
    <h3 class="modal-title w-100 dark-grey-text font-weight-bold font-weight-bold my-3" ><strong>Complete<b class="green-text font-weight-bold"><strong> Todo</strong></b></strong></h3>
</div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <div class="list-group">
                {% for todo in todos %}
                    <a href="{% url 'viewtodos' todo.id %}" class="list-group-item list-group-item-action{% if todo.important %} list-group-item-danger{% endif %}"><b>{{ todo.title }}</b> - Completed {{ todo.datecompleted|date:'M j Y H:i' }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
