.modal-header{
    margin-top: 50px;
}
.btn{
    background-color:#ffff;
    color: #4caf50;
    border: 2px solid #4caf50;
    font-weight: 500;
    font-size: 15px;
}
.btn:hover{
   background-color: #4caf50;
   color: #ffff;
}
.nav-item #create{
    cursor: text;
    font-size: 25px;
}

