.modal-header{
    margin-top: 60px;
}
.btn1{
    background-color:#ffff;
    color: #4285f4;
    border: 2px solid #4285f4;
    font-weight: 500;
    font-size: 20px;
}
.btn1:hover{
   background-color: #4285f4;
   color: #ffff;
}
.btn2{
    background-color:#ffff;
    color: #4caf50;
    border: 2px solid #4caf50;
    font-weight: 500;
    font-size: 20px;
    margin-left: 5px;
}
.btn2:hover{
   background-color: #4caf50;
   color: #ffff;
}
.btn3{
    background-color:#ffff;
    color: #ff3547;
    border: 2px solid #ff3547;
    font-weight: 500;
    font-size: 20px;
    margin-left: 5px;
}
.btn3:hover{
   background-color: #ff3547;
   color: #ffff;
}
.nav-item #edit{
    cursor: text;
    font-size: 25px;
}
